<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/style.css">
  <title>Ideias - Casa-criatica</title>
</head>

<body id="page-ideas">

  <div id="container">
    <header>
      <a href="/">
        <img src="./logo.png" alt="Imagem da logomarca">
      </a>
      <nav>
        <li><a href="/">Início</a></li>
        <li><a href="#" onclick="onOff()" class="button">Nova Ideia</a></li>
      </nav>
    </header>
    <section id="title">
      <p>Em exibição</p>
      <h1>Ideias</h1>
    </section>
    <main>
      <section id="ideas">
        {% include "all_ideas.html" %}
      </section>
    </main>
    <footer>
      Com 💛 <a href="https://www.linkedin.com/in/mateus-s-santos-8b89791b6/" target="_blank">Mateus S. Santos</a>
    </footer>
  </div>

  <!-- Modal -->
  {% include "modal.html" %}

  <script src="./script.js"></script>
</body>

</html>