{% extends "layout.html" %}

{% block content %}

<section id="intro">
  <header>
    <a href="/">
      <img src="./logo.png" alt="Imagem da logomarca">
    </a>
  </header>

  <main>
    <p>Ficar em casa longos períodos, não deve sert nada fácil.</p>

    <p>Por isso, iremos catalogar ideias,<strong>brincadeiras, jogos, filmes, cursos, livros,dicas</strong> e tudo
      que for necessário para tornar esse momento mais interesante.</p>

    <p>Comece clicando em ver ideias paara ver as ideias cadastradas e contribua adicionando a sua ideia./p>
  </main>


  <section id="buttons">
    <button onclick="onOff()">+ Adicionar ideia</button>
    <a href="/ideias" class="button"> ver ideia</a>
  </section>

  <footer>
    Com 💛 <a href="https://www.linkedin.com/in/mateus-s-santos-8b89791b6/" target="_blank">Mateus S. Santos</a>
  </footer>
</section>

<section id="last-ideias">
  {% include "all_ideas.html" %}
</section>

{% endblock %}